@media screen and (max-width: 991px) {
  .ct_side_bar {
    left: -100%;
    padding-top: 40px;
  }
  .ct_right_panel {
    margin-left: 0px;
    width: 100%;
  }
  .ct_show .ct_side_bar {
    left: 0px;
  }
  .ct_show .ct_side_bar {
    left: 0px;
  }
  .ct_close_sidebar {
    position: absolute;
    display: block;
    right: 15px;
    top: 0px;
    font-size: 22px;
    transition: 0.4s ease all;
    color: #fff;
  }
  .ct_close_sidebar:hover {
    transform: rotate(360deg);
  }
  .ct_menu_bar {
    display: block;
  }
  .ct_flex_col_991 {
    flex-direction: column;
    align-items: start !important;
  }
  .ct_w_100_991 {
    width: 100%;
    max-width: 100%;
  }
     .ct_inquery_main {
        grid-template-columns: repeat(2, 1fr);
    }
    .ct_inquery_main li + li{
      border: 0px;
      padding-left: 0px;
    }
}
@media screen and (max-width: 767px) {
    .ct_flex_col_767 {
        flex-direction: column;
        align-items: start !important;
    }
    .ct_w_100_767 {
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .ct_flex_col_575 ,.members-row {
        flex-direction: column;
        align-items: start !important;
    }
    .ct_w_100_575 {
        width: 100%;
        max-width: 100%;
    }
      .ct_inquery_main {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .ct_inquery_main li:nth-child(1) {
      order: 2;
    }
    .ct_inquery_main li:nth-child(3) {
      order: 3;
    }
}