

    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        scroll-behavior: smooth;
        word-break: break-word;
          font-family: "Hanken Grotesk", sans-serif;

    }
body{
    background-color: #F7F7F7;
}
    :root{
        --cyan : #168EA2;
        --red: #FF3D00
    }
    .ct_text_cyan{
        color: var(--cyan);
    }
    ul {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    /* All font Weight Css S */
    .ct_fw_300 {
        font-weight: 300;
    }

    .ct_fw_400 {
        font-weight: 400;
    }

    .ct_fw_500 {
        font-weight: 500;
    }

    .ct_fw_600 {
        font-weight: 600;
    }

    .ct_fw_700 {
        font-weight: 700;
    }

    .ct_fw_800 {
        font-weight: 800;
    }

    .ct_fw_900 {
        font-weight: 900;
    }

    /* All font Weight Css E */

    /* all font size css S */
    .ct_fs_14 {
        font-size: 14px;
    }

    .ct_fs_16 {
        font-size: 16px;
    }

    .ct_fs_18 {
        font-size: 18px;
    }

    .ct_fs_20 {
        font-size: 20px;
    }

    .ct_fs_24 {
        font-size: 24px;
    }

    .ct_fs_28 {
        font-size: 28px;
    }

    .ct_fs_44 {
        font-size: 44px;
    }
    .ct_fs_32{
        font-size: 32px;
    }

    .ct_fs_22 {
        font-size: 22px;
    }

    /* all font size css E */

    /* Custom Scroll Css C */
    .ct_custom_scroll::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    .ct_custom_scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .ct_custom_scroll::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .ct_custom_scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* Custom Scroll Css E */
.form-control{
    appearance: auto;
}
    .form-control:focus {
        box-shadow: unset;
        border-color: var(--cyan);
    }

    .ct_show_eye {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .ct_input{
        border: 1px solid #4B556324;
        height: 46px;
        border-radius: 10px;
    }

    .ct_input_icon_left {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .ct_input_ps_40 {
        padding-left: 40px;
    }

    .ct_input_pe_40 {
        padding-right: 40px;
    }
    .ct_fit_content{
        width: fit-content;
    }

    .ct_input_icon_left img {
        width: 18px;
        margin-top: -2px;
    }

    .ct_border_radius_15 {
        border-radius: 15px;
    }
    .ct_border_radius_20{
        border-radius: 20px;
    }

    .ct_border_radius_10 {
        border-radius: 10px;
    }

    textarea {
        resize: none;
    }

    .ct_flex_1 {
        flex: 1;
    }

    .ct_flex_shrink_0 {
        flex-shrink: 0;
    }

    .ct_white_nowrap {
        white-space: nowrap;
    }

    .ct_overlay_text {
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ct_para_scroll {
        height: auto;
        max-height: 240px;
        overflow-y: auto;
    }


    .ct_minimise_cnt {
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 400px;
    width: auto;
}

.ct_white_space_normal {
    white-space: normal;
}
.ct_text_upercase{
    text-transform: uppercase;
}
/* Sidebar css S */

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.ct_h_44{
    height: 44px;
}
.ct_h_48{
    height: 48px;
}
a,
a:hover {
  text-decoration: none;
}
.ct_admin_logo img {
  width: 100%;
}
.ct_side_bar {
  position: fixed;
  height: 100vh;
  background-color: var(--cyan);
  max-width: 276px;
  width: 100%;
  padding: 15px 0px;
  transition: 0.4s ease all;
  z-index: 9;
}
.ct_side_bar ul {
  margin-top: 20px;
  height: calc(100% - 100px);
  overflow-y: auto;
}
.ct_side_bar ul li a {
  padding: 15px 20px;
  transition: 0.4s ease all;
  width: 100%;
  display: flex;
  font-weight: 500;
  align-items: center;
  gap: 15px;
  color: #A0D1D9;
  position: relative;
}

.ct_side_bar ul li + li {
  margin-top: 10px;
}
.ct_side_bar ul li a:hover,
.ct_side_bar ul li a.active {
  background-color: #E9ECEF66;
  color: #fff;
}
.ct_side_bar ul li a.active svg path,
.ct_side_bar ul li a:hover svg path {
  stroke: #fff;
}

.ct_right_panel {
  width: calc(100% - 276px);
  margin-left: 276px;
  transition: 0.4s ease all;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0px;
    background-color: #fff;
    padding-inline: 30px;
    padding-block: 8px;
    box-shadow: 0px 0px 4px 0px #00000040;
}
.ct_menu_bar,
.ct_close_sidebar {
  display: none;
}
.ct_admin_logo {
  padding-bottom: 15px;
}
.ct_admin_logo img {
  width: 124px;
  margin-inline: auto;
  display: block;
}
.ct_right_dropdown.dropdown ul {
  padding: 0px;
  border: 0px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}
.ct_right_dropdown.dropdown .dropdown-item:hover {
  background-color: var(--cyan);
  color: #fff;
}
.ct_right_dropdown button {
  border: 0px;
  padding: 11px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
}
.ct_img_30 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;
}
.ct_img_40 {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
}

.ct_px_30 {
  padding-inline: 30px;
}

.ct_black_btn {
  padding: 15px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--cyan);
  background-color: var(--cyan);
  position: relative;
  z-index: 1;
  white-space: nowrap;
  transition: 0.4s ease all;
  color: #fff;
  overflow: hidden;
}
.ct_black_btn:before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  transform: scale(0);
  transition: 0.4s ease all;
  background-color: #fff;
  z-index: -1;
}
.ct_black_btn:hover:before {
  transform: scale(1);
}
.ct_black_btn:hover {
  color: #282828;
}
.ct_black_btn:hover svg path {
  stroke: #282828;
}

.ct_outline_btn {
  padding: 15px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  outline: none;
  border: 1.55px solid #81CBC23D;
  background-color: #f3f6f6;
  position: relative;
  z-index: 1;
  transition: 0.4s ease all;
  color: #168EA2;
  overflow: hidden;
}
.ct_outline_btn:before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: scale(0);
  transition: 0.4s ease all;
  background-color: var(--cyan);
  z-index: -1;
}
.ct_outline_btn:hover:before {
  transform: scale(1);
}
.ct_outline_btn:hover {
  color: #fff;
}
button.btn-close.ct_close {
  background-image: unset;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cyan);
  opacity: 1;

  color: #fff;
}
/* Sidebar css E */


.ct_dash_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.ct_dash_card {
    height: 100%;
}
.ct_border_clr_D2D5DB {
    border: 1px solid #d2d5db;
}
.ct_border_radius_10 {
    border-radius: 10px;
}
.ct_white_bg {
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 0px #061F611F;

}
.ct_py_28_px_20 {
    padding: 28px 20px;
}

.ct_dash_icon {
    width: 42px;
    height: 42px;
    background-color:var(--cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.ct_custom_table {
    border: 1px solid #d2d5db;
    border-radius: 10px;
}
.ct_custom_table table {
    margin-bottom: 0px;
}
.ct_custom_table tr th:first-child {
    border-top-left-radius: 10px;
    /* border-left: 1px solid #d2d5db; */
}
.ct_custom_table tr th {
    background-color: #F9FAFB;
    /* border-top: 1px solid #d2d5db; */
    border-bottom: 1px solid #EAECF0;
    color: #8A92A6;
    font-weight: 600;
}
.ct_custom_table tr th, .ct_custom_table tr td {
    padding: 15px 15px;
    /* text-align: center; */
    vertical-align: middle;
    white-space: nowrap;
}

.ct_badge{
    padding: 5px 15px;
    border-radius: 100px;

}

.ct_full_view_img img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.ct_delete_post_icon  img{
    width: 104px;
    height: 104px;
    object-fit: contain;
}

.ct_py_50_px_40{
    padding: 50px 40px;
}
.ct_profile_img {
    width: 87px;
    height: 87px;
    border-radius: 100px;
    /* margin-inline: auto; */
    position: relative;
}
.ct_profile_img img{
    width: 87px;
    height: 87px;
    object-fit: cover;
        border-radius: 100px;
}
.ct_upload_icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
.ct_upload_icon img {
    width: 30px;
    height: 30px;
}

.ct_text_clr_4B5563{
    color: #4B5563;
}

.ct_green_badge{
    color: #168EA2;
    background-color: #00FF001A;
    padding: 6px 22px;
    border-radius: 6px;
}

.ct_inquery_main {
  border: 1px solid #EAEBEF;
  border-radius: 10px;
  padding: 13px;
  display: grid
;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.ct_inquery_main li + li {
  border-left: 1px solid #EAEBEF;
  padding-left: 20px;
}
.ct_mt_30{
    margin-top: 30px;
}

.ct_text_clr_96A0AD{
    color: #96A0AD;
}


.ct_login_form_wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0px 2px 44px 0px #20A0902E;
}

.ct_login_left_content h2{
    font-size: 38px;
    color: #168EA2;
}
.ct_login_left_content p{
    color: #00161999;
    font-size: 18px;
    max-width: 441px;
}

.ct_login_header {
    padding-block: 40px;
}
.ct_login_logo img {
    max-width: 135px;
}
section.ct_login_main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 114px);
}
.ct_login_left_content {
    padding-left: 120px;
    position: relative;
}
.ct_login_left_content img {
    max-width: 200px;
    position: absolute;
    top: -130px;
    left: 0px;
}
.ct_login_form_wrapper p {
    max-width: 359px;
    margin-inline: auto;
}
.ct_text_op_6{
    opacity: 0.6;
}

.ct_back_icon{
    color: #000;
    margin-right: 10px;
    transition: 0.4s ease all;
}

.ct_back_icon:hover{
    color: var(--cyan);

}
.ct_border_radius_5{
    border-radius: 5px;
}

.ct_img_75{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 100px;
}


/* Card */
.team-card {
    background: #168EA20D;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

/* Top */
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.team-logo img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.date {
  font-size: 13px;
  color: #64748b;
}

/* Title */
.team-title {
  margin: 14px 0 6px;
  font-size: 18px;
  font-weight: 600;
  color: #0f172a;
}

.team-desc {
  font-size: 14px;
  color: #667085;
  line-height: 1.6;
  margin-bottom: 13px;
}

/* Admin */
.admin-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}

.badge {
    background: #fff;
    color: #667085;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 500;
}

.admins {
  font-size: 14px;
  color: #0f172a;
}

/* Members */
.members-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatars {
  display: flex;
}

.avatars img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #f6fbfc;
  margin-left: -8px;
}

.avatars img:first-child {
  margin-left: 0;
}

.member-count {
  font-size: 14px;
  color: #64748b;
}

.ct_group_img{
    margin-bottom: 10px;
}
.ct_group_img img{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    object-fit: cover;
}

figure.ct_group_card {
    text-align: center;
    background-color: #168EA214;
    padding: 24px;
    border-radius: 5px;
}
.ct_text_666{
    color: #666;
}

.ct_icon_40_52 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #168EA21F;
    border-radius: 4px;
}

.ct_edit_btn {
    background-color: #168EA21A;
    color: var(--cyan);
    border-color: #168EA21A;
}

.ct_suspend_btn{
    background-color: #FF3D000F;
    color: #FF3D00;
}
.ct_suspend_btn:before{
    background-color: #FF3D00;
}