<div class="ct_inner_header_bg mt-4 ct_px_30 d-flex align-items-center justify-content-between gap-2">
    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text mb-0"><a routerLink="/home/user-management" class="ct_back_icon"><i
                class="fa-solid fa-arrow-left-long"></i></a>User details</h4>
    <span class="text-danger"><i class="fa-solid fa-ban me-1"></i>Block User</span>
</div>
<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_white_bg p-4 ct_border_radius_5">
                    <div class="d-flex align-items-start justify-content-between gap-3 ct_flex_col_575">
                        <h4 class="ct_fs_20 mb-0">Personal Information</h4>
                        <div>
                            <span class="ct_badge" style="background-color:#00FF001A ;color: #168EA2;">Active</span>
                            <p class="ct_fs_14 ct_text_clr_4B5563 mt-2">Date Joined: 23 Feb, 2024</p>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-3 ct_flex_col_767">
                        <img src="img/no_pro.png" alt="" class="ct_img_75 ct_border_radius_10" />
                        <div class="row ct_flex_1">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Full Name</h5>
                                <p class="mb-0 ct_text_op_6  ct_text_clr_4B5563">John Doe</p>

                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Phone No.</h5>
                                <p class="mb-0 ct_text_op_6  ct_text_clr_4B5563">+91 6412587142</p>

                            </div>

                        </div>
                    </div>
                    <div class="mt-0 mt-md-4">
                        <h5 class="ct_fs_18 ct_fw_600 mb-1">About</h5>
                        <p class="mb-0 ct_text_op_6  ct_text_clr_4B5563 ct_para_scroll ct_custom_scroll">
                            Passionate golfer with 15 years of experience. Love playing competitive matches and sharing
                            tips
                            with fellow golfers.
                        </p>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ct_white_bg p-4 ct_border_radius_5 mt-4">
                    <h4 class="ct_fs_20 mb-4">Groups in Added (2)</h4>

                    <div class="row">
                        <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                            <div class="team-card shadow-none">

                                <!-- Header -->
                                <div class="card-top">
                                    <div class="team-logo">
                                        <img src="img/team_1.png" alt="Team">
                                    </div>
                                    <span class="date">23 Feb, 2024</span>
                                </div>

                                <!-- Content -->
                                <h3 class="team-title">Marketing Team</h3>
                                <p class="team-desc ct_para_scroll ct_custom_scroll">
                                    We’re a team of designers focused on building intuitive, meaningful, and user-first
                                    experiences.
                                </p>

                                <!-- Admin -->
                                <div class="admin-row">
                                    <span class="badge">Admin</span>
                                    <span class="admins">John Doe, Jessica</span>
                                </div>

                                <!-- Members -->
                                <div class="members-row">
                                    <div class="avatars">
                                        <img src="img/user_img_2.jpg">
                                        <img src="img/user_img_3.jpg">
                                        <img src="img/user_img_4.jpg">
                                        <img src="img/user_img_5.jpg">
                                        <img src="img/user_img_6.jpg">
                                    </div>
                                    <span class="member-count">45 Members</span>
                                </div>

                            </div>

                        </div>
                        <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                            <div class="team-card shadow-none">

                                <!-- Header -->
                                <div class="card-top">
                                    <div class="team-logo">
                                        <img src="img/team_1.png" alt="Team">
                                    </div>
                                    <span class="date">23 Feb, 2024</span>
                                </div>

                                <!-- Content -->
                                <h3 class="team-title">Marketing Team</h3>
                                <p class="team-desc ct_para_scroll ct_custom_scroll">
                                    We’re a team of designers focused on building intuitive, meaningful, and user-first
                                    experiences.
                                </p>

                                <!-- Admin -->
                                <div class="admin-row">
                                    <span class="badge">Admin</span>
                                    <span class="admins">John Doe, Jessica</span>
                                </div>

                                <!-- Members -->
                                <div class="members-row">
                                    <div class="avatars">
                                        <img src="img/user_img_2.jpg">
                                        <img src="img/user_img_3.jpg">
                                        <img src="img/user_img_4.jpg">
                                        <img src="img/user_img_5.jpg">
                                        <img src="img/user_img_6.jpg">
                                    </div>
                                    <span class="member-count">45 Members</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                            <div class="team-card  shadow-none">

                                <!-- Header -->
                                <div class="card-top">
                                    <div class="team-logo">
                                        <img src="img/team_1.png" alt="Team">
                                    </div>
                                    <span class="date">23 Feb, 2024</span>
                                </div>

                                <!-- Content -->
                                <h3 class="team-title">Marketing Team</h3>
                                <p class="team-desc ct_para_scroll ct_custom_scroll">
                                    We’re a team of designers focused on building intuitive, meaningful, and user-first
                                    experiences.
                                </p>

                                <!-- Admin -->
                                <div class="admin-row">
                                    <span class="badge">Admin</span>
                                    <span class="admins">John Doe, Jessica</span>
                                </div>
                                <!-- Members -->
                                <div class="members-row">
                                    <div class="avatars">
                                        <img src="img/user_img_2.jpg">
                                        <img src="img/user_img_3.jpg">
                                        <img src="img/user_img_4.jpg">
                                        <img src="img/user_img_5.jpg">
                                        <img src="img/user_img_6.jpg">
                                    </div>
                                    <span class="member-count">45 Members</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>