<div class="ct_inner_header_bg mt-4 ct_px_30 d-flex align-items-center justify-content-between gap-2">
    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text mb-0"><a routerLink="/home/group-management" class="ct_back_icon"><i
                class="fa-solid fa-arrow-left-long"></i></a>Group details</h4>
    <span class="text-danger"><i class="fa-solid fa-ban me-1"></i>Suspend Group</span>
</div>
<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_white_bg p-4 ct_border_radius_5">
                    <div class="d-flex align-items-start justify-content-between gap-3 ct_flex_col_575">
                        <h4 class="ct_fs_20 mb-4">Group Information</h4>
                        <div>
                            <p class="ct_fs_14 ct_text_clr_4B5563 mt-0">Date Joined: 23 Feb, 2024</p>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-3 ct_flex_col_767">
                        <img src="img/user_1.jpg" alt="" class="ct_img_75 ct_border_radius_10" />
                        <div class="row ct_flex_1">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Group Name</h5>
                                <p class="mb-0 ct_text_op_6  ct_text_clr_4B5563">Marketing team</p>

                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Total Members</h5>
                                <p class="mb-0 ct_text_op_6  ct_text_clr_4B5563">123</p>

                            </div>

                        </div>
                    </div>
                    <div class="mt-0 mt-md-4">
                        <h5 class="ct_fs_18 ct_fw_600 mb-1">About</h5>
                        <p class="mb-0 ct_text_op_6  ct_text_clr_4B5563 ct_para_scroll ct_custom_scroll">
                            We’re a team of designers focused on building intuitive, meaningful, and user-first
                            experiences.
                        </p>
                    </div>

                    <div class="mt-4">
                        <h5 class="ct_fs_18 ct_fw_600 mb-3">Group Admin</h5>

                        <div class="row ct_flex_1">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="img/user_img_2.jpg" alt="" class="ct_img_40">
                                    <div>
                                        <h5 class="ct_fs_16 mb-1 ct_text_cyan">John Doe</h5>
                                        <p class="mb-0 ct_text_op_6 ct_fs_14  ct_text_clr_4B5563">+91 8931821025</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="img/user_img_2.jpg" alt="" class="ct_img_40">
                                    <div>
                                        <h5 class="ct_fs_16 mb-1 ct_text_cyan">Harry </h5>
                                        <p class="mb-0 ct_text_op_6 ct_fs_14  ct_text_clr_4B5563">+91 8931821025</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ct_white_bg p-4 ct_border_radius_5 mt-4">
                    <h4 class="ct_fs_20 mb-4">Members of Group (123)</h4>

                    <div class="row">
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>
                        <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                            <figure class="ct_group_card mb-0">
                                <div class="ct_group_img">
                                    <img src="img/user_1.jpg" alt="" />
                                </div>
                                <figcaption>
                                    <h4 class="ct_text_cyan ct_fs_16 mb-2">Kathryn Murphy</h4>
                                    <p class="mb-0 ct_text_clr_4B5563 ct_text_op_6">077 6764 8570 </p>
                                </figcaption>

                            </figure>
                        </div>




                    </div>

                </div>

            </div>

        </div>



    </div>