<div class="ct_inner_header_bg mt-4 ct_px_30">
    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_black_text">Support</h4>
</div>

<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 ct_flex_col_575">
                    <div class="position-relative ct_w_100_575 ct_flex_1 w-100">
                        <input type="search" class="form-control ct_input ct_input_ps_40 ct_h_44"
                            placeholder="Search" />
                        <i class="fa-solid fa-search ct_input_icon_left"></i>
                    </div>
                    <div class="ct_w_100_575">
                        <select class="form-control ct_input ct_h_44 ct_w_100_575">
                            <option selected>Sort by: Newest</option>
                            <option>Sort by: Oldest</option>
                            <option>Sort by: Active</option>
                            <option>Sort by: Inactive</option>
                        </select>
                    </div>
                </div>

                <div class="table-responsive mt-3 ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>László Barbara</td>
                                <td>fisherman12gmail.com</td>
                                <td>
                                    <span class="ct_overlay_text d-inline-block">Hi, I’m facing an issue in group chats.
                                        When I type
                                        // to tag someone, sometimes the user list doesn’t
                                        appear or the tag doesn’t get added correctly. This
                                        happens mostly in larger groups. Please check and
                                        let me know if there’s a fix.</span>
                                </td>
                                <td>24 May, 2020</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #168ea2; background-color: #00ff001a">Resolved</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-bs-target="#support_detail_modal"
                                        data-bs-toggle="modal">
                                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.4999 5.625C7.37544 5.625 3.97232 10.3882 2.76294 12.5055C2.51432 12.9397 2.39057 13.158 2.40294 13.482C2.41757 13.806 2.56382 14.0175 2.85519 14.4405C4.29519 16.5307 8.20569 21.375 13.4999 21.375C18.7942 21.375 22.7047 16.5307 24.1447 14.4405C24.4372 14.0175 24.5834 13.806 24.5958 13.482C24.6082 13.158 24.4856 12.9397 24.2369 12.5055C23.0287 10.3882 19.6244 5.625 13.4999 5.625Z"
                                                stroke="#3A96FF" stroke-width="1.4" />
                                            <path
                                                d="M13.5 16.875C15.364 16.875 16.875 15.364 16.875 13.5C16.875 11.636 15.364 10.125 13.5 10.125C11.636 10.125 10.125 11.636 10.125 13.5C10.125 15.364 11.636 16.875 13.5 16.875Z"
                                                stroke="#3A96FF" stroke-width="1.4" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>László Barbara</td>
                                <td>fisherman12gmail.com</td>
                                <td>
                                    <span class="ct_overlay_text d-inline-block">Hi, I’m facing an issue in group chats.
                                        When I type
                                        // to tag someone, sometimes the user list doesn’t
                                        appear or the tag doesn’t get added correctly. This
                                        happens mostly in larger groups. Please check and
                                        let me know if there’s a fix.</span>
                                </td>
                                <td>24 May, 2020</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #ff903f; background-color: #ff903f1a">Pending</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-bs-target="#support_detail_modal"
                                        data-bs-toggle="modal">
                                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.4999 5.625C7.37544 5.625 3.97232 10.3882 2.76294 12.5055C2.51432 12.9397 2.39057 13.158 2.40294 13.482C2.41757 13.806 2.56382 14.0175 2.85519 14.4405C4.29519 16.5307 8.20569 21.375 13.4999 21.375C18.7942 21.375 22.7047 16.5307 24.1447 14.4405C24.4372 14.0175 24.5834 13.806 24.5958 13.482C24.6082 13.158 24.4856 12.9397 24.2369 12.5055C23.0287 10.3882 19.6244 5.625 13.4999 5.625Z"
                                                stroke="#3A96FF" stroke-width="1.4" />
                                            <path
                                                d="M13.5 16.875C15.364 16.875 16.875 15.364 16.875 13.5C16.875 11.636 15.364 10.125 13.5 10.125C11.636 10.125 10.125 11.636 10.125 13.5C10.125 15.364 11.636 16.875 13.5 16.875Z"
                                                stroke="#3A96FF" stroke-width="1.4" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>László Barbara</td>
                                <td>fisherman12gmail.com</td>
                                <td>
                                    <span class="ct_overlay_text d-inline-block">Hi, I’m facing an issue in group chats.
                                        When I type
                                        // to tag someone, sometimes the user list doesn’t
                                        appear or the tag doesn’t get added correctly. This
                                        happens mostly in larger groups. Please check and
                                        let me know if there’s a fix.</span>
                                </td>
                                <td>24 May, 2020</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #168ea2; background-color: #00ff001a">Resolved</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-bs-target="#support_detail_modal"
                                        data-bs-toggle="modal">
                                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.4999 5.625C7.37544 5.625 3.97232 10.3882 2.76294 12.5055C2.51432 12.9397 2.39057 13.158 2.40294 13.482C2.41757 13.806 2.56382 14.0175 2.85519 14.4405C4.29519 16.5307 8.20569 21.375 13.4999 21.375C18.7942 21.375 22.7047 16.5307 24.1447 14.4405C24.4372 14.0175 24.5834 13.806 24.5958 13.482C24.6082 13.158 24.4856 12.9397 24.2369 12.5055C23.0287 10.3882 19.6244 5.625 13.4999 5.625Z"
                                                stroke="#3A96FF" stroke-width="1.4" />
                                            <path
                                                d="M13.5 16.875C15.364 16.875 16.875 15.364 16.875 13.5C16.875 11.636 15.364 10.125 13.5 10.125C11.636 10.125 10.125 11.636 10.125 13.5C10.125 15.364 11.636 16.875 13.5 16.875Z"
                                                stroke="#3A96FF" stroke-width="1.4" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ct_support_resolved_detail Modal S -->
<div class="modal fade modal-xl" id="support_detail_modal" tabindex="-1" aria-labelledby="support_detail_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close ct_login_btn_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body pt-3 pb-5">
                <div class="">
                    <h4 class="ct_fs_20 ct_fw_600 mb-0">Inquiry Detail</h4>
                </div>
                <ul class="ct_inquery_main mt-4">
                    <li>
                        <h5 class="ct_fs_16 ct_fw_600 mb-1">Date</h5>
                        <p class="mb-0 ct_text_op_6 ct_fs_14">20 August, 2024</p>
                    </li>
                    <li>
                        <div class="d-flex align-items-center gap-3">
                            <img src="img/user_1.jpg" class="ct_img_40" alt="" />
                            <div>
                                <h5 class="ct_fs_16 ct_fw_600 mb-1">User Name</h5>
                                <p class="mb-0 ct_text_op_6 ct_fs_14">John Wick</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <h5 class="ct_fs_16 ct_fw_600 mb-1">Email Address</h5>
                        <p class="mb-0 ct_text_op_6 ct_fs_14">abc123gmail.com</p>
                    </li>
                    <li>
                        <!-- <span class="ct_cancle_badge d-inline-block ct_line_h_30 px-4 ct_border_radius_10">Pending</span> -->
                        <span
                            class="ct_green_badge d-inline-block ct_line_h_30 px-4 ct_border_radius_10">Resolved</span>
                    </li>
                </ul>
                <div class="form-group mt-4">
                    <textarea class="form-control ct_input h-auto" disabled rows="4">
Hi, I’m facing an issue in group chats. When I type // to tag someone, sometimes the user list doesn’t appear or the tag doesn’t get added correctly. This happens mostly in larger groups. Please check and let me know if there’s a fix.</textarea>
                </div>
                <!-- when received then also show this div other wise comment -->
                <div class="form-group mt-4">
                    <label for="" class="mb-2 ct_fw_600">Your Response</label>
                    <textarea class="form-control ct_input h-auto" disabled rows="4">
Thank you for reaching out and sharing the details. We’ve reviewed your concern regarding user mentions in group chats.

This issue can occasionally occur in larger groups due to temporary sync delays. Please make sure your app is updated to the latest version, as we’ve recently rolled out improvements to group tagging performance. If the issue continues, our technical team will investigate further. Rest assured, your messages remain private and secure, and we do not access message content at any point.

Best regards,Support Team</textarea>
                </div>

                <div class="text-end ct_mt_30">
                    <button class="ct_black_btn ct_h_44 ms-auto">Send Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ct_support_resolved_detail Modal E-->