<div class="ct_login_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_login_logo">
                    <img src="img/logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ct_login_main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 d-lg-block d-none">
                <div class="ct_login_left_content">
                    <h2 class="mb-3">Secure Admin Access</h2>
                    <p class="ct_fs_18 ct_text_op_6">Log in to manage platform activity while respecting end-to-end
                        privacy standards.</p>
                    <img src="img/login_shape.png" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="ct_login_form_wrapper ct_box_shadow_1">
                    <h3 class="mb-2 ct_fs_32 text-center">Verify OTP</h3>
                    <p class="ct_fs_14 ct_text_clr_96A0AD text-center">An OTP has been sent to your email.</p>
                    <p class="ct_fs_14 ct_text_clr_96A0AD text-center">testgmail.com</p>
                    <form action="#" class="mt-5">
                        <div class="form-group mb-3">
                            <label for="email" class="mb-2 d-block">OTP</label>
                            <!-- <input type="email" class="form-control ct_input" id="email" placeholder="Enter your email"> -->
                            <div class="position-relative">
                                <nz-flex nzVertical [nzGap]="20">
                                    <nz-flex nzVertical>
                                        <nz-input-otp formControlName="otp" [nzLength]="4" [nzSize]="'default'">
                                        </nz-input-otp>
                                        <span class="ct_text_red mt-2">
                                            {{ validationErrorService.getErrorMessage('OTP', Form.get('otp')) }}
                                        </span>
                                    </nz-flex>
                                </nz-flex>
                            </div>
                        </div>
                        <div class="ct_mt_30">
                            <a routerLink="/reset-password" class="ct_black_btn w-100">Verify</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>